*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    border: none;
}

  body {
    background: linear-gradient(to bottom, #AFDAEA, #FFFFFF);
    background-repeat: no-repeat;
    background-size: cover;
 }  

 .home {
    position: absolute;
    top: 20px; 
    right: 10px; 
    background: none;
 }

 .home img {
    width: 40px; 
    height: auto;
    cursor: pointer; 
}

main{
display: flex;
width: 100%;
align-items: center;
justify-content: center;
margin-bottom: 25px;
margin-top: 20px;
}


footer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 100px;
}


footer img{
    max-width: 480px;
    width: 100%;
}


.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
}

.card {
    aspect-ratio: 3/4;
    width: 110px;
    background-color: #fff;
    border-radius: 26px;
    position: relative;
    transition: all 400ms ease;
    transform-style: preserve-3d;
    border: 2px solid #F6F068;
}


.face {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    transition: all 400ms ease;
   
}

.front {
    background-repeat: no-repeat;
    transform: rotateY(180deg) ;
}

.back {
    background-image: url(../imagens/carta.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    backface-visibility: hidden;
}


.reveal-card {
    transform: rotateY(180deg);
}

.disabled-card {
    filter: saturate(0);
    opacity: 0.5;
}